:global(.IroSlider) {
  display: none !important;
}

:global(*) {
  outline: none !important;
}

:global(.IroWheel) {
  margin: auto;
}

.loadingContainer {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  .logo {
    width: 32px;
  }

  .title {
    margin-top: 9px;
    margin-left: 10px;
    vertical-align: top;
    display: inline-block;
  }
}

.head {
  margin-top: 20px;
  text-align: center;

  .tabs {
    display: inline-block;
  }
}

.card {
  margin: 0 20px 20px 20px;

  .title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  p {
    .subtitle {
      margin-bottom: 6px;
    }
  }

  .pickerContainer {
    text-align: center;
    margin-top: 40px;
  }

  .freqInput {
    display: inline-flex;
    margin-right: 6px;
    margin-right: 6px;
  }
}
